CREATE DATABASE [ExitCodeFrotaBD]
GO

USE [ExitCodeFrotaBD]
GO
/****** Object:  Table [dbo].[TBCADCARGO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADCARGO](
	[IDCADCARGO] [int] IDENTITY(1,1) NOT NULL,
	[CADCARGO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TBCADCARGO] PRIMARY KEY CLUSTERED 
(
	[IDCADCARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADCAUSA]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADCAUSA](
	[IDCADCAUSA] [int] IDENTITY(1,1) NOT NULL,
	[CADCAUSA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBCADCAUSA] PRIMARY KEY CLUSTERED 
(
	[IDCADCAUSA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADCOMBUSTIVEL]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADCOMBUSTIVEL](
	[IDCADCOMBUSTIVEL] [int] IDENTITY(1,1) NOT NULL,
	[CADCOMBUSTIVEL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBCADCOMBUSTIVEL] PRIMARY KEY CLUSTERED 
(
	[IDCADCOMBUSTIVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADFROTA]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADFROTA](
	[IDCADFROTA] [int] IDENTITY(1,1) NOT NULL,
	[CADTIPODEVEICULO] [varchar](30) NOT NULL,
	[CADVEICULO] [varchar](30) NOT NULL,
	[CADPLACA] [varchar](7) NOT NULL,
	[CADCOR] [varchar](20) NOT NULL,
	[CADANO] [varchar](4) NOT NULL,
	[CADDOCUMENTACAO] [varchar](30) NOT NULL,
	[CADDATAVENCIMENTO] [date] NOT NULL,
	[CADSTATUS] [varchar](30) NOT NULL,
	[CADDATACADASTROFROTA] [datetime] NOT NULL,
 CONSTRAINT [PK_TBCADFROTA] PRIMARY KEY CLUSTERED 
(
	[IDCADFROTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADFUNCIONARIO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADFUNCIONARIO](
	[IDCADFUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[CADNOMEFUNCIONARIO] [varchar](50) NOT NULL,
	[CADENDFUNCIONARIO] [varchar](100) NOT NULL,
	[CADTELFUNCIONARIO] [varchar](11) NOT NULL,
	[CADCPFFUNCIONARIO] [varchar](11) NOT NULL,
	[CADRGFUNCIONARIO] [varchar](10) NOT NULL,
	[CADDATANASCFUNCIONARIO] [date] NOT NULL,
	[CADCARGOFUNCIONARIO] [varchar](30) NOT NULL,
	[CADDATACADASTROFUNCIONARIO] [date] NOT NULL,
 CONSTRAINT [PK_TBCADFUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[IDCADFUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADMANUTENCAO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADMANUTENCAO](
	[IDCADMANUTENCAO] [int] IDENTITY(1,1) NOT NULL,
	[CADMANUTENCAO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TDCADMANUTENCAO] PRIMARY KEY CLUSTERED 
(
	[IDCADMANUTENCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADMOTORISTA]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADMOTORISTA](
	[IDCADMOTORISTA] [int] IDENTITY(1,1) NOT NULL,
	[CADNOMEMOTORISTA] [varchar](50) NOT NULL,
	[CADENDMOTORISTA] [varchar](100) NOT NULL,
	[CADTELMOTORISTA] [varchar](10) NOT NULL,
	[CADCPFMOTORISTA] [varchar](11) NOT NULL,
	[CADRGMOTORISTA] [varchar](10) NOT NULL,
	[CADCNHMOTORISTA] [varchar](30) NOT NULL,
	[CADDATANASCMOTORISTA] [date] NOT NULL,
	[CADDATACADASTROMOTORISTA] [date] NOT NULL,
 CONSTRAINT [PK_TBCADMOTORISTA] PRIMARY KEY CLUSTERED 
(
	[IDCADMOTORISTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADPOSTO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADPOSTO](
	[IDCADPOSTO] [int] IDENTITY(1,1) NOT NULL,
	[CADPOSTO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBCADPOSTO] PRIMARY KEY CLUSTERED 
(
	[IDCADPOSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADSERVICO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADSERVICO](
	[IDCADSERVICO] [int] IDENTITY(1,1) NOT NULL,
	[CADSERVICO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBCADSERVICO] PRIMARY KEY CLUSTERED 
(
	[IDCADSERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCADUSUARIO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCADUSUARIO](
	[IDCADUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[CADUSUARIO] [varchar](30) NOT NULL,
	[CADSENHA] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TBCADUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDCADUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBMOVABASTECIMENTO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBMOVABASTECIMENTO](
	[IDABAFROTA] [int] IDENTITY(1,1) NOT NULL,
	[ABADATAFROTA] [date] NULL,
	[ABAVEICULO] [varchar](30) NOT NULL,
	[ABAPOSTO] [varchar](50) NOT NULL,
	[ABACOMBUSTIVEL] [varchar](50) NOT NULL,
	[ABAVALORUNITARIO] [decimal](18, 2) NOT NULL,
	[ABATOTALPAGO] [decimal](18, 2) NOT NULL,
	[ABAQUANTIDADE] [decimal](18, 2) NOT NULL,
	[ABAKMINICIAL] [decimal](18, 0) NOT NULL,
	[ABAKMFINAL] [decimal](18, 0) NOT NULL,
	[ABAKMTOTAL] [decimal](18, 0) NOT NULL,
	[ABAMOTORISTA] [varchar](50) NOT NULL,
	[ABAORIGEM] [varchar](50) NOT NULL,
	[ABADESTINO] [varchar](50) NOT NULL,
	[ABATOTALCUSTO] [decimal](18, 2) NOT NULL,
	[ABADATACADASTRO] [date] NOT NULL,
	[ABAPLACA] [varchar](7) NULL,
 CONSTRAINT [PK_TBABASTECIMENTO] PRIMARY KEY CLUSTERED 
(
	[IDABAFROTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBMOVMANUTENCAO]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBMOVMANUTENCAO](
	[IDMANFROTA] [int] IDENTITY(1,1) NOT NULL,
	[MANDATAFROTA] [date] NOT NULL,
	[MANVEICULO] [varchar](30) NOT NULL,
	[MANPOSTO] [varchar](50) NOT NULL,
	[MANMANUTENCAO] [varchar](50) NOT NULL,
	[MANCAUSA] [varchar](50) NOT NULL,
	[MANSERVICO] [varchar](50) NOT NULL,
	[MANVALOR] [decimal](18, 2) NOT NULL,
	[MANMOTORISTA] [varchar](50) NOT NULL,
	[MANTOTALCUSTO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TBMANFROTA] PRIMARY KEY CLUSTERED 
(
	[IDMANFROTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[uspCADCARGOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCARGOAlterar]
	@IDCADCARGO int,
	@CADCARGO varchar(30)

AS
BEGIN

	UPDATE TBCADCARGO
	SET
		CADCARGO = @CADCARGO
	
	WHERE
		IDCADCARGO = @IDCADCARGO
	
	SELECT @IDCADCARGO AS RETORNO
END

GO
/****** Object:  StoredProcedure [dbo].[uspCADCARGOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCARGOConsultarPorID]
	@IDCADCARGO int

AS
BEGIN

	SELECT
		IDCADCARGO,
		CADCARGO

	FROM
		TBCADCARGO
	WHERE
		IDCADCARGO = @IDCADCARGO

END

GO
/****** Object:  StoredProcedure [dbo].[uspCADCARGOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADCARGOConsultarPorNome]
	@CADCARGO varchar(30)

AS
BEGIN

	SELECT
		IDCADCARGO,
		CADCARGO
	FROM
		TBCADCARGO
	WHERE
		CADCARGO LIKE '%' + @CADCARGO + '%'

END

GO
/****** Object:  StoredProcedure [dbo].[uspCADCARGOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCARGOExcluir]
	@IDCADCARGO int

AS
BEGIN

	DELETE FROM TBCADCARGO
	WHERE
	IDCADCARGO = @IDCADCARGO

	SELECT @IDCADCARGO AS RETORNO
END

GO
/****** Object:  StoredProcedure [dbo].[uspCADCARGOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCARGOInserir]
	@CADCARGO varchar(30)

AS
BEGIN
	INSERT INTO TBCADCARGO
	(
		CADCARGO
	)
	VALUES
	(
		@CADCARGO
	)

SELECT @@IDENTITY AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCAUSAAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCAUSAAlterar]
		@IDCADCAUSA int,
		@CADCAUSA varchar(50)

AS
BEGIN

	UPDATE TBCADCAUSA
	SET
			CADCAUSA = @CADCAUSA
	WHERE
			IDCADCAUSA = @IDCADCAUSA
	
	SELECT @IDCADCAUSA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCAUSAConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADCAUSAConsultarPorID]
		@IDCADCAUSA int

AS
BEGIN

	SELECT
		IDCADCAUSA,
		CADCAUSA

	FROM TBCADCAUSA
	WHERE IDCADCAUSA = @IDCADCAUSA

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCAUSAConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADCAUSAConsultarPorNome]
		@CADCAUSA varchar(50)

AS
BEGIN

	SELECT
		IDCADCAUSA,
		CADCAUSA

	FROM TBCADCAUSA
	WHERE CADCAUSA LIKE '%' + @CADCAUSA + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCAUSAExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCAUSAExcluir]
		@IDCADCAUSA int

AS
BEGIN
	DELETE FROM TBCADCAUSA
	WHERE
		IDCADCAUSA = @IDCADCAUSA
	SELECT @IDCADCAUSA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCAUSAInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCAUSAInserir]
		@CADCAUSA varchar(50)
AS
BEGIN
	INSERT INTO TBCADCAUSA
	(
		CADCAUSA
	)
	VALUES
	(
		@CADCAUSA
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCOMBUSTIVELAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCOMBUSTIVELAlterar]
		@IDCADCOMBUSTIVEL int,
		@CADCOMBUSTIVEL varchar(50)

AS
BEGIN

	UPDATE TBCADCOMBUSTIVEL
	SET
			CADCOMBUSTIVEL = @CADCOMBUSTIVEL
	WHERE
			IDCADCOMBUSTIVEL = @IDCADCOMBUSTIVEL
	
	SELECT @IDCADCOMBUSTIVEL AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCOMBUSTIVELConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADCOMBUSTIVELConsultarPorID]
		@IDCADCOMBUSTIVEL int

AS
BEGIN

	SELECT
		IDCADCOMBUSTIVEL,
		CADCOMBUSTIVEL

	FROM TBCADCOMBUSTIVEL
	WHERE IDCADCOMBUSTIVEL = @IDCADCOMBUSTIVEL

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCOMBUSTIVELConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADCOMBUSTIVELConsultarPorNome]
		@CADCOMBUSTIVEL varchar(50)

AS
BEGIN

	SELECT
		IDCADCOMBUSTIVEL,
		CADCOMBUSTIVEL

	FROM TBCADCOMBUSTIVEL
	WHERE CADCOMBUSTIVEL LIKE '%' + @CADCOMBUSTIVEL + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCOMBUSTIVELExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCOMBUSTIVELExcluir]
		@IDCADCOMBUSTIVEL int

AS
BEGIN
	DELETE FROM TBCADCOMBUSTIVEL
	WHERE
		IDCADCOMBUSTIVEL = @IDCADCOMBUSTIVEL
	SELECT @IDCADCOMBUSTIVEL AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADCOMBUSTIVELInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADCOMBUSTIVELInserir]
		@CADCOMBUSTIVEL varchar(50)
AS
BEGIN
	INSERT INTO TBCADCOMBUSTIVEL
	(
		CADCOMBUSTIVEL
	)
	VALUES
	(
		@CADCOMBUSTIVEL
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFROTAAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADFROTAAlterar]
		@IDCADFROTA int,
		@CADTIPODEVEICULO varchar(30),
		@CADVEICULO varchar(30),
		@CADPLACA varchar(7),
		@CADCOR varchar(20),
		@CADANO varchar(4),
		@CADDOCUMENTACAO varchar(30),
		@CADDATAVENCIMENTO date,
		@CADSTATUS varchar(30),
		@CADDATACADASTROFROTA datetime

AS
BEGIN

	UPDATE TBCADFROTA
	SET
			CADTIPODEVEICULO = @CADTIPODEVEICULO,
			CADVEICULO = @CADVEICULO,
			CADPLACA = @CADPLACA,
			CADCOR = @CADCOR,
			CADANO = @CADANO,
			CADDOCUMENTACAO = @CADDOCUMENTACAO,
			CADDATAVENCIMENTO = @CADDATAVENCIMENTO,
			CADSTATUS = @CADSTATUS,
			CADDATACADASTROFROTA = @CADDATACADASTROFROTA

	WHERE
			IDCADFROTA = @IDCADFROTA
	
	SELECT @IDCADFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFROTAConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADFROTAConsultarPorID]
		@IDCADFROTA int

AS
BEGIN

	SELECT
		IDCADFROTA,
		CADTIPODEVEICULO,
		CADVEICULO,
		CADPLACA,
		CADCOR,
		CADANO,
		CADDOCUMENTACAO,
		CADDATAVENCIMENTO,
		CADSTATUS,
		CADDATACADASTROFROTA

	FROM TBCADFROTA
	WHERE IDCADFROTA = @IDCADFROTA

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFROTAConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADFROTAConsultarPorNome]
		@CADDOCUMENTACAO varchar(30)
		
AS
BEGIN

	SELECT
		IDCADFROTA,
		CADTIPODEVEICULO,
		CADVEICULO,
		CADPLACA,
		CADCOR,
		CADANO,
		CADDOCUMENTACAO,
		CADDATAVENCIMENTO,
		CADSTATUS,
		CADDATACADASTROFROTA

	FROM TBCADFROTA
	WHERE CADDOCUMENTACAO LIKE '%' + @CADDOCUMENTACAO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFROTAExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADFROTAExcluir]
		@IDCADFROTA int

AS
BEGIN
	DELETE FROM TBCADFROTA
	WHERE
		IDCADFROTA = @IDCADFROTA
	SELECT @IDCADFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFROTAInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADFROTAInserir]
		@CADTIPODEVEICULO varchar(30),
		@CADVEICULO varchar(30),
		@CADPLACA varchar(7),
		@CADCOR varchar(20),
		@CADANO varchar(4),
		@CADDOCUMENTACAO varchar(30),
		@CADDATAVENCIMENTO date,
		@CADSTATUS varchar(30),
		@CADDATACADASTROFROTA datetime
		
AS
BEGIN
	INSERT INTO TBCADFROTA
	(
		CADTIPODEVEICULO,
		CADVEICULO,
		CADPLACA,
		CADCOR,
		CADANO,
		CADDOCUMENTACAO,
		CADDATAVENCIMENTO,
		CADSTATUS,
		CADDATACADASTROFROTA
	)
	VALUES
	(
		@CADTIPODEVEICULO,
		@CADVEICULO,
		@CADPLACA,
		@CADCOR,
		@CADANO,
		@CADDOCUMENTACAO,
		@CADDATAVENCIMENTO,
		@CADSTATUS,
		@CADDATACADASTROFROTA
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFUNCIONARIOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADFUNCIONARIOAlterar]
		@IDCADFUNCIONARIO int,
		@CADNOMEFUNCIONARIO varchar(50),
		@CADENDFUNCIONARIO varchar(100),
		@CADTELFUNCIONARIO varchar(11),
		@CADCPFFUNCIONARIO varchar(11),
		@CADRGFUNCIONARIO varchar(10),
		@CADDATANASCFUNCIONARIO date,
		@CADCARGOFUNCIONARIO varchar(30),
		@CADDATACADASTROFUNCIONARIO date

AS
BEGIN
	UPDATE TBCADFUNCIONARIO
	SET
		CADNOMEFUNCIONARIO = @CADNOMEFUNCIONARIO,
		CADENDFUNCIONARIO = @CADENDFUNCIONARIO,
		CADTELFUNCIONARIO = @CADTELFUNCIONARIO,
		CADCPFFUNCIONARIO = @CADCPFFUNCIONARIO,
		CADRGFUNCIONARIO = @CADRGFUNCIONARIO,
		CADDATANASCFUNCIONARIO = @CADDATANASCFUNCIONARIO,
		CADCARGOFUNCIONARIO = @CADCARGOFUNCIONARIO,
		CADDATACADASTROFUNCIONARIO = @CADDATACADASTROFUNCIONARIO
	
	WHERE
		
		IDCADFUNCIONARIO = @IDCADFUNCIONARIO

	SELECT @IDCADFUNCIONARIO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFUNCIONARIOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADFUNCIONARIOConsultarPorID]
		@IDCADFUNCIONARIO int

AS
BEGIN
	SELECT
		IDCADFUNCIONARIO,
		CADNOMEFUNCIONARIO,
		CADENDFUNCIONARIO,
		CADTELFUNCIONARIO,
		CADCPFFUNCIONARIO,
		CADRGFUNCIONARIO,
		CADDATANASCFUNCIONARIO,
		CADCARGOFUNCIONARIO,
		CADDATACADASTROFUNCIONARIO
	
	FROM TBCADFUNCIONARIO
	WHERE IDCADFUNCIONARIO = @IDCADFUNCIONARIO	

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFUNCIONARIOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADFUNCIONARIOConsultarPorNome]
		@CADNOMEFUNCIONARIO varchar(50)

AS
BEGIN
	SELECT
		IDCADFUNCIONARIO,
		CADNOMEFUNCIONARIO,
		CADENDFUNCIONARIO,
		CADTELFUNCIONARIO,
		CADCPFFUNCIONARIO,
		CADRGFUNCIONARIO,
		CADDATANASCFUNCIONARIO,
		CADCARGOFUNCIONARIO,
		CADDATACADASTROFUNCIONARIO
	
	FROM TBCADFUNCIONARIO
	WHERE CADNOMEFUNCIONARIO LIKE '%' + @CADNOMEFUNCIONARIO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFUNCIONARIOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADFUNCIONARIOExcluir]
		@IDCADFUNCIONARIO int
		

AS
BEGIN
	DELETE FROM TBCADFUNCIONARIO
	WHERE
		
		IDCADFUNCIONARIO = @IDCADFUNCIONARIO

	SELECT @IDCADFUNCIONARIO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADFUNCIONARIOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADFUNCIONARIOInserir]
		@CADNOMEFUNCIONARIO varchar(50),
		@CADENDFUNCIONARIO varchar(100),
		@CADTELFUNCIONARIO varchar(10),
		@CADCPFFUNCIONARIO varchar(11),
		@CADRGFUNCIONARIO varchar(10),
		@CADDATANASCFUNCIONARIO date,
		@CADCARGOFUNCIONARIO varchar(30),
		@CADDATACADASTROFUNCIONARIO datetime

AS
BEGIN
	INSERT TBCADFUNCIONARIO
	(
		CADNOMEFUNCIONARIO,
		CADENDFUNCIONARIO,
		CADTELFUNCIONARIO,
		CADCPFFUNCIONARIO,
		CADRGFUNCIONARIO,
		CADDATANASCFUNCIONARIO,
		CADCARGOFUNCIONARIO,
		CADDATACADASTROFUNCIONARIO
		
	)
	VALUES
	(
		@CADNOMEFUNCIONARIO,
		@CADENDFUNCIONARIO,
		@CADTELFUNCIONARIO,
		@CADCPFFUNCIONARIO,
		@CADRGFUNCIONARIO,
		@CADDATANASCFUNCIONARIO,
		@CADCARGOFUNCIONARIO,
		@CADDATACADASTROFUNCIONARIO
		)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMANUTENCAOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMANUTENCAOAlterar]
		@IDCADMANUTENCAO int,
		@CADMANUTENCAO varchar(50)

AS
BEGIN

	UPDATE TBCADMANUTENCAO
	SET
			CADMANUTENCAO = @CADMANUTENCAO
			

	WHERE
			IDCADMANUTENCAO = @IDCADMANUTENCAO
	
	SELECT @IDCADMANUTENCAO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMANUTENCAOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMANUTENCAOConsultarPorID]
		@IDCADMANUTENCAO int

AS
BEGIN

	SELECT
		IDCADMANUTENCAO,
		CADMANUTENCAO

	FROM TBCADMANUTENCAO
	WHERE IDCADMANUTENCAO = @IDCADMANUTENCAO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMANUTENCAOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMANUTENCAOConsultarPorNome]
		@CADMANUTENCAO varchar(50)
		
AS
BEGIN

	SELECT
		IDCADMANUTENCAO,
		CADMANUTENCAO

	FROM TBCADMANUTENCAO
	WHERE CADMANUTENCAO LIKE '%' + @CADMANUTENCAO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMANUTENCAOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADMANUTENCAOExcluir]
			@IDCADMANUTENCAO int

AS
BEGIN
	DELETE FROM TBCADMANUTENCAO
	WHERE
			IDCADMANUTENCAO = @IDCADMANUTENCAO
	
	SELECT @IDCADMANUTENCAO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMANUTENCAOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMANUTENCAOInserir]
		@CADMANUTENCAO varchar(50)

AS
BEGIN
	INSERT INTO TBCADMANUTENCAO
	(
		CADMANUTENCAO
	)
	VALUES
	(
		@CADMANUTENCAO
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMOTORISTAAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADMOTORISTAAlterar]
			@IDCADMOTORISTA int,
			@CADNOMEMOTORISTA varchar(50),
			@CADENDMOTORISTA varchar(100),
			@CADTELMOTORISTA varchar(10),
			@CADCPFMOTORISTA varchar(11),
			@CADRGMOTORISTA varchar(10),
			@CADCNHMOTORISTA varchar(30),
			@CADDATANASCMOTORISTA date,
			@CADDATACADASTROMOTORISTA date

AS
BEGIN
	UPDATE TBCADMOTORISTA
	SET
			CADNOMEMOTORISTA = @CADNOMEMOTORISTA,
			CADENDMOTORISTA = @CADENDMOTORISTA,
			CADTELMOTORISTA = @CADTELMOTORISTA,
			CADCPFMOTORISTA = @CADCPFMOTORISTA,
			CADRGMOTORISTA = @CADRGMOTORISTA,
			CADCNHMOTORISTA = @CADCNHMOTORISTA,
			CADDATANASCMOTORISTA = @CADDATANASCMOTORISTA,
			CADDATACADASTROMOTORISTA = @CADDATACADASTROMOTORISTA
			

	WHERE
			IDCADMOTORISTA = @IDCADMOTORISTA
	
	SELECT @IDCADMOTORISTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMOTORISTAConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMOTORISTAConsultarPorID]
		@IDCADMOTORISTA int

AS
BEGIN

	SELECT
		IDCADMOTORISTA,
		CADNOMEMOTORISTA,
		CADENDMOTORISTA,
		CADTELMOTORISTA,
		CADCPFMOTORISTA,
		CADRGMOTORISTA,
		CADCNHMOTORISTA,
		CADDATANASCMOTORISTA,
		CADDATACADASTROMOTORISTA

	FROM TBCADMOTORISTA
	WHERE IDCADMOTORISTA = @IDCADMOTORISTA

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMOTORISTAConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADMOTORISTAConsultarPorNome]
		@CADNOMEMOTORISTA varchar(50)
		
AS
BEGIN

	SELECT
		IDCADMOTORISTA,
		CADNOMEMOTORISTA,
		CADENDMOTORISTA,
		CADTELMOTORISTA,
		CADCPFMOTORISTA,
		CADRGMOTORISTA,
		CADCNHMOTORISTA,
		CADDATANASCMOTORISTA,
		CADDATACADASTROMOTORISTA

	FROM TBCADMOTORISTA
	WHERE CADNOMEMOTORISTA LIKE '%' + @CADNOMEMOTORISTA + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMOTORISTAExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADMOTORISTAExcluir]
			@IDCADMOTORISTA int

AS
BEGIN
	DELETE FROM TBCADMOTORISTA
	WHERE
			IDCADMOTORISTA = @IDCADMOTORISTA
	
	SELECT @IDCADMOTORISTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADMOTORISTAInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADMOTORISTAInserir]
		@CADNOMEMOTORISTA varchar(50),
		@CADENDMOTORISTA varchar(100),
		@CADTELMOTORISTA varchar(10),
		@CADCPFMOTORISTA varchar(11),
		@CADRGMOTORISTA varchar(10),
		@CADCNHMOTORISTA varchar(30),
		@CADDATANASCMOTORISTA date,
		@CADDATACADASTROMOTORISTA date

AS
BEGIN
	INSERT INTO TBCADMOTORISTA
	(
		CADNOMEMOTORISTA,
		CADENDMOTORISTA,
		CADTELMOTORISTA,
		CADCPFMOTORISTA,
		CADRGMOTORISTA,
		CADCNHMOTORISTA,
		CADDATANASCMOTORISTA,
		CADDATACADASTROMOTORISTA
	)
	VALUES
	(
		@CADNOMEMOTORISTA,
		@CADENDMOTORISTA,
		@CADTELMOTORISTA,
		@CADCPFMOTORISTA,
		@CADRGMOTORISTA,
		@CADCNHMOTORISTA,
		@CADDATANASCMOTORISTA,
		@CADDATACADASTROMOTORISTA
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADPOSTOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADPOSTOAlterar]
			@IDCADPOSTO int,
			@CADPOSTO varchar(50)

AS
BEGIN
	UPDATE TBCADPOSTO
	SET
			CADPOSTO = @CADPOSTO			

	WHERE
			IDCADPOSTO = @IDCADPOSTO
	
	SELECT @IDCADPOSTO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADPOSTOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADPOSTOConsultarPorID]
		@IDCADPOSTO int

AS
BEGIN

	SELECT
		IDCADPOSTO,
		CADPOSTO

	FROM TBCADPOSTO
	WHERE IDCADPOSTO = @IDCADPOSTO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADPOSTOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADPOSTOConsultarPorNome]
		@CADPOSTO varchar(50)
		
AS
BEGIN

	SELECT
		IDCADPOSTO,
		CADPOSTO

	FROM TBCADPOSTO
	WHERE CADPOSTO LIKE '%' + @CADPOSTO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADPOSTOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADPOSTOExcluir]
			@IDCADPOSTO int

AS
BEGIN
	DELETE FROM TBCADPOSTO
	WHERE
			IDCADPOSTO = @IDCADPOSTO
	
	SELECT @IDCADPOSTO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADPOSTOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADPOSTOInserir]
		@CADPOSTO varchar(50)

AS
BEGIN
	INSERT INTO TBCADPOSTO
	(
		CADPOSTO
	)
	VALUES
	(
		@CADPOSTO
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADSERVICOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADSERVICOAlterar]
			@IDCADSERVICO int,
			@CADSERVICO varchar(50)

AS
BEGIN
	UPDATE TBCADSERVICO
	SET
			CADSERVICO = @CADSERVICO			

	WHERE
			IDCADSERVICO = @IDCADSERVICO
	
	SELECT @IDCADSERVICO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADSERVICOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADSERVICOConsultarPorID]
		@IDCADSERVICO int

AS
BEGIN

	SELECT
		IDCADSERVICO,
		CADSERVICO

	FROM TBCADSERVICO
	WHERE IDCADSERVICO = @IDCADSERVICO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADSERVICOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADSERVICOConsultarPorNome]
		@CADSERVICO varchar(50)
		
AS
BEGIN

	SELECT
		IDCADSERVICO,
		CADSERVICO

	FROM TBCADSERVICO
	WHERE CADSERVICO LIKE '%' + @CADSERVICO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADSERVICOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADSERVICOExcluir]
			@IDCADSERVICO int

AS
BEGIN
	DELETE FROM TBCADSERVICO
	WHERE
			IDCADSERVICO = @IDCADSERVICO
	
	SELECT @IDCADSERVICO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADSERVICOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADSERVICOInserir]
		@CADSERVICO varchar(50)

AS
BEGIN
	INSERT INTO TBCADSERVICO
	(
		CADSERVICO
	)
	VALUES
	(
		@CADSERVICO
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADUSUARIOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADUSUARIOAlterar]
			@IDCADUSUARIO int,
			@CADUSUARIO varchar(30),
			@CADSENHA varchar(10)

AS
BEGIN

	BEGIN TRY
			BEGIN TRAN

				IF (EXISTS (SELECT IDCADUSUARIO FROM TBCADUSUARIO WHERE CADUSUARIO = @CADUSUARIO))
					RAISERROR('Login já cadastrado.', 14,1);

			UPDATE TBCADUSUARIO
			SET
					CADUSUARIO = @CADUSUARIO,
					CADSENHA = @CADSENHA		

			WHERE
					IDCADUSUARIO = @IDCADUSUARIO
	
			SELECT @IDCADUSUARIO AS RETORNO

	COMMIT TRAN
	END TRY
	BEGIN CATCH

			ROLLBACK TRAN
			SELECT ERROR_MESSAGE() AS retorno;

	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspCADUSUARIOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADUSUARIOConsultarPorID]
		@IDCADUSUARIO int

AS
BEGIN

	SELECT
		IDCADUSUARIO,
		CADUSUARIO,
		CADSENHA

	FROM TBCADUSUARIO
	WHERE IDCADUSUARIO = @IDCADUSUARIO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADUSUARIOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADUSUARIOConsultarPorNome]
		@CADUSUARIO varchar(30)
		
AS
BEGIN

	SELECT
		IDCADUSUARIO,
		CADUSUARIO,
		CADSENHA

	FROM TBCADUSUARIO
	WHERE CADUSUARIO LIKE '%' + @CADUSUARIO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADUSUARIOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspCADUSUARIOExcluir]
			@IDCADUSUARIO int

AS
BEGIN
	DELETE FROM TBCADUSUARIO
	WHERE
			IDCADUSUARIO = @IDCADUSUARIO
	
	SELECT @IDCADUSUARIO AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspCADUSUARIOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCADUSUARIOInserir]
		@CADUSUARIO varchar(30),
		@CADSENHA varchar(10)

AS
BEGIN

	BEGIN TRY
		BEGIN TRAN

			IF (EXISTS (SELECT IDCADUSUARIO FROM TBCADUSUARIO WHERE CADUSUARIO = @CADUSUARIO))
				RAISERROR('Login já cadastrado.', 14,1);

			INSERT INTO TBCADUSUARIO
			(
				CADUSUARIO,
				CADSENHA
			)
			VALUES
			(
				@CADUSUARIO,
				@CADSENHA
			)
			SELECT @@IDENTITY AS RETORNO
	
		COMMIT TRAN
	END TRY
	BEGIN CATCH

		ROLLBACK TRAN
		SELECT ERROR_MESSAGE() AS retorno;

	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVABASTECIMENTOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVABASTECIMENTOAlterar]
			@IDABAFROTA int,
			@ABADATAFROTA date,
			@ABAVEICULO varchar(30),
			@ABAPOSTO varchar(50),
			@ABACOMBUSTIVEL varchar(50),
			@ABAVALORUNITARIO decimal(18,2),
			@ABATOTALPAGO decimal(18,2),
			@ABAQUANTIDADE decimal(18,2),
			@ABAKMINICIAL decimal(18,0),
			@ABAKMFINAL decimal(18,0),
			@ABAKMTOTAL decimal(18,0),
			@ABAMOTORISTA varchar(50),
			@ABAORIGEM varchar(50),
			@ABADESTINO varchar(50),
			@ABATOTALCUSTO decimal(18,2),
			@ABADATACADASTRO date,
			@ABAPLACA varchar(7)

AS
BEGIN
	UPDATE TBMOVABASTECIMENTO
	SET
			ABADATAFROTA = @ABADATAFROTA,
			ABAVEICULO = @ABAVEICULO,
			ABAPOSTO = @ABAPOSTO,
			ABACOMBUSTIVEL = @ABACOMBUSTIVEL,
			ABAVALORUNITARIO = @ABAVALORUNITARIO,
			ABATOTALPAGO = @ABATOTALPAGO,
			ABAQUANTIDADE = @ABAQUANTIDADE,
			ABAKMINICIAL = @ABAKMINICIAL,
			ABAKMFINAL = @ABAKMFINAL,
			ABAKMTOTAL = @ABAKMTOTAL,
			ABAMOTORISTA = @ABAMOTORISTA,
			ABAORIGEM = @ABAORIGEM,
			ABADESTINO = @ABADESTINO,
			ABATOTALCUSTO = @ABATOTALCUSTO,
			ABADATACADASTRO = @ABADATACADASTRO,
			ABAPLACA = @ABAPLACA

	WHERE
			IDABAFROTA = @IDABAFROTA
	
	SELECT @IDABAFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVABASTECIMENTOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVABASTECIMENTOConsultarPorID]
		@IDABAFROTA int

AS
BEGIN

	SELECT
		IDABAFROTA,
		ABADATAFROTA,
		ABAVEICULO,
		ABAPOSTO,
		ABACOMBUSTIVEL,
		ABAVALORUNITARIO,
		ABATOTALPAGO,
		ABAQUANTIDADE,
		ABAKMINICIAL,
		ABAKMFINAL,
		ABAKMTOTAL,
		ABAMOTORISTA,
		ABAORIGEM,
		ABADESTINO,
		ABATOTALCUSTO,
		ABADATACADASTRO,
		ABAPLACA

	FROM TBMOVABASTECIMENTO
	WHERE IDABAFROTA = @IDABAFROTA

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVABASTECIMENTOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVABASTECIMENTOConsultarPorNome]
		@ABAPLACA varchar(7)
		
AS
BEGIN

	SELECT
		IDABAFROTA,
		ABADATAFROTA,
		ABAVEICULO,
		ABAPOSTO,
		ABACOMBUSTIVEL,
		ABAVALORUNITARIO,
		ABATOTALPAGO,
		ABAQUANTIDADE,
		ABAKMINICIAL,
		ABAKMFINAL,
		ABAKMTOTAL,
		ABAMOTORISTA,
		ABAORIGEM,
		ABADESTINO,
		ABATOTALCUSTO,
		ABADATACADASTRO,
		ABAPLACA

	FROM TBMOVABASTECIMENTO
	WHERE ABAPLACA LIKE '%' + @ABAPLACA + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVABASTECIMENTOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspMOVABASTECIMENTOExcluir]
			@IDABAFROTA int

AS
BEGIN
	DELETE FROM TBMOVABASTECIMENTO
	WHERE
			IDABAFROTA = @IDABAFROTA
	
	SELECT @IDABAFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVABASTECIMENTOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVABASTECIMENTOInserir]
		@ABADATAFROTA date,
		@ABAVEICULO varchar(30),
		@ABAPOSTO varchar(50),
		@ABACOMBUSTIVEL varchar(50),
		@ABAVALORUNITARIO decimal(18,2),
		@ABATOTALPAGO decimal(18,2),
		@ABAQUANTIDADE decimal(18,2),
		@ABAKMINICIAL decimal(18,0),
		@ABAKMFINAL decimal(18,0),
		@ABAKMTOTAL decimal(18,0),
		@ABAMOTORISTA varchar(50),
		@ABAORIGEM varchar(50),
		@ABADESTINO varchar(50),
		@ABATOTALCUSTO decimal(18,2),
		@ABADATACADASTRO date,
		@ABAPLACA varchar(7)
		
AS
BEGIN
	INSERT INTO TBMOVABASTECIMENTO
	(
		ABADATAFROTA,
		ABAVEICULO,
		ABAPOSTO,
		ABACOMBUSTIVEL,
		ABAVALORUNITARIO,
		ABATOTALPAGO,
		ABAQUANTIDADE,
		ABAKMINICIAL,
		ABAKMFINAL,
		ABAKMTOTAL,
		ABAMOTORISTA,
		ABAORIGEM,
		ABADESTINO,
		ABATOTALCUSTO,
		ABADATACADASTRO,
		ABAPLACA
	)
	VALUES
	(
		@ABADATAFROTA,
		@ABAVEICULO,
		@ABAPOSTO,
		@ABACOMBUSTIVEL,
		@ABAVALORUNITARIO,
		@ABATOTALPAGO,
		@ABAQUANTIDADE,
		@ABAKMINICIAL,
		@ABAKMFINAL,
		@ABAKMTOTAL,
		@ABAMOTORISTA,
		@ABAORIGEM,
		@ABADESTINO,
		@ABATOTALCUSTO,
		@ABADATACADASTRO,
		@ABAPLACA
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVMANUTENCAOAlterar]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVMANUTENCAOAlterar]
			@IDMANFROTA int,
			@MANDATAFROTA date,
			@MANVEICULO varchar(30),
			@MANPOSTO varchar(50),
			@MANMANUTENCAO varchar(50),
			@MANCAUSA varchar(50),
			@MANSERVICO varchar(50),
			@MANVALOR decimal(18,2),
			@MANMOTORISTA varchar(50),
			@MANTOTALCUSTO decimal(18,2)

AS
BEGIN
	UPDATE TBMOVMANUTENCAO
	SET
			MANDATAFROTA = @MANDATAFROTA,
			MANVEICULO = @MANVEICULO,
			MANPOSTO = @MANPOSTO,
			MANMANUTENCAO = @MANMANUTENCAO,
			MANCAUSA = @MANCAUSA,
			MANSERVICO = @MANSERVICO,
			MANVALOR = @MANVALOR,
			MANMOTORISTA = @MANMOTORISTA,
			MANTOTALCUSTO = @MANTOTALCUSTO

	WHERE
			IDMANFROTA = @IDMANFROTA
	
	SELECT @IDMANFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVMANUTENCAOConsultarPorID]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVMANUTENCAOConsultarPorID]
		@IDMANFROTA int

AS
BEGIN

	SELECT
		IDMANFROTA,
		MANDATAFROTA,
		MANVEICULO,
		MANPOSTO,
		MANMANUTENCAO,
		MANCAUSA,
		MANSERVICO,
		MANVALOR,
		MANMOTORISTA,
		MANTOTALCUSTO

	FROM TBMOVMANUTENCAO
	WHERE IDMANFROTA = @IDMANFROTA

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVMANUTENCAOConsultarPorNome]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVMANUTENCAOConsultarPorNome]
		@MANVEICULO varchar(30)
		
AS
BEGIN

	SELECT
		IDMANFROTA,
		MANDATAFROTA,
		MANVEICULO,
		MANPOSTO,
		MANMANUTENCAO,
		MANCAUSA,
		MANSERVICO,
		MANVALOR,
		MANMOTORISTA,
		MANTOTALCUSTO

	FROM TBMOVMANUTENCAO
	WHERE MANVEICULO LIKE '%' + @MANVEICULO + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVMANUTENCAOExcluir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspMOVMANUTENCAOExcluir]
			@IDMANFROTA int

AS
BEGIN
	DELETE FROM TBMOVMANUTENCAO
	WHERE
			IDMANFROTA = @IDMANFROTA
	
	SELECT @IDMANFROTA AS RETORNO

END
GO
/****** Object:  StoredProcedure [dbo].[uspMOVMANUTENCAOInserir]    Script Date: 16/01/2019 08:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspMOVMANUTENCAOInserir]
		@MANDATAFROTA date,
		@MANVEICULO varchar(30),
		@MANPOSTO varchar(50),
		@MANMANUTENCAO varchar(50),
		@MANCAUSA varchar(50),
		@MANSERVICO varchar(50),
		@MANVALOR decimal(18,2),
		@MANMOTORISTA varchar(50),
		@MANTOTALCUSTO decimal(18,2)
		
		
AS
BEGIN
	INSERT INTO TBMOVMANUTENCAO
	(
		MANDATAFROTA,
		MANVEICULO,
		MANPOSTO,
		MANMANUTENCAO,
		MANCAUSA,
		MANSERVICO,
		MANVALOR,
		MANMOTORISTA,
		MANTOTALCUSTO
	)
	VALUES
	(
		@MANDATAFROTA,
		@MANVEICULO,
		@MANPOSTO,
		@MANMANUTENCAO,
		@MANCAUSA,
		@MANSERVICO,
		@MANVALOR,
		@MANMOTORISTA,
		@MANTOTALCUSTO
	)
	SELECT @@IDENTITY AS RETORNO
END
GO
